// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Container Widths

$widescreen: 1012;
$fullhd: 1012;

// Bulma

$primary: #c0392b;
$link: #ced3dc;
$info: #031927;
$danger: $primary;
