// Navbar
$navbar-height: 1.5rem;
$navbar-padding-vertical: 0.5rem;
$navbar-padding-horizontal: 1.5rem;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Disable the fullhd breakpoint
$fullhd-enabled: false;

// Colors
$primary: #c0392b;
$link: #ced3dc;
$info: #031927;
$danger: $primary;


