// Navbar
$navbar-height: 1.5rem;
$navbar-padding-vertical: 0.5rem;
$navbar-padding-horizontal: 1.5rem;

// Typography
$family-sans-serif: "Montserrat", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Disable the fullhd breakpoint
$fullhd-enabled: false;

// Colors
$primary: #c0392b;
$link: #ced3dc;
$info: #031927;
$danger: $primary;
$salmon: #fcf7f8;

//  Section
$section-padding: 1.25rem 1.25rem;

$title-size: 1.4rem;
$title-weight: 300;
$subtitle-size: 0.8rem;
$subtitle-weight: 100;

//  Footer
$footer-background-color: $salmon;
$footer-padding: 1.5rem 1.5rem 0.75rem;


