// Fonts
@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama|Montserrat&display=swap');

// Variables
@import 'variables';


// Bulma
@import '~bulma/bulma';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';


// Custom CSS
// Customize Checkboxes globally
@import 'checkboxes';

// Placeholders
.placeholder-home {
  height: 150px;
}

html, body {
  background: #fcf7f8;
}

main {
  background: #ffffff;
}

.notification-bar {
  .notification {
    margin-top:25px;
    margin-bottom: 25px;
  }

}

// Navbar
.navbar-item {
  margin-right: 3px;
}

//  Subnav
.subnavigation {
  background:#031927;

  select {
    border-radius: 0px;
  }
}

#addon-city-select {
  background-color:#ced3dc;
  border-color: #ffffff;
  cursor: none;

  span {
    color: #031927;
    font-size:25px;
    font-family: 'Dr Sugiyama', cursive;
    margin-top: -5px;
  }

}

// Branding
#brand-logo-text {
  font-family: 'Dr Sugiyama', cursive;
  font-size:32px;
  height: 40px;
  background:none;

  span {
    margin-top:-10px;
  }
}

.brand-wrapper {
  text-align: center;
  padding: 45px;
  }

  .brand-text {
    font-family: 'Dr Sugiyama', cursive;
    font-size: 38px;
    color: $primary;


    &:hover {
      color: #ecf0f1;

  }
}

